.left-container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 20%;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.logo-container {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.navbar-conatiner {
  height: 800px;
  width: 100%;
  display: flex;
  padding-top: 30px;
  background-color: rgb(237, 237, 237);
}
